---
---
<header>
  <nav class="bg-gray-800 p-4">
    <ul class="flex space-x-4">
      <li><a href="/" class="text-white">Home</a></li>
      <li><a href="https://indigo-kaylil-55.tiiny.site/Resume.pdf" download class="text-white">Resume</a></li>
    </ul>
  </nav>
</header>